.bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.containerLarge {
  max-width: 1540px;
  margin-right: auto;
  margin-left: auto;
}

.containerMedium {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.containerSmall {
  max-width: 792px;
  margin-right: auto;
  margin-left: auto;
}
