.secondaryMenu {
  display: flex;
  font-weight: bold;

  li {
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 7px solid #fff;
    transition: 0.5s;

    &:hover {
      border-bottom: 7px solid #aa0601;
    }

    a {
      display: flex;
      justify-content: center;
      color: #000;
      padding: 24px 86px;
    }
  }

  .icon {
    margin-right: 8px;
  }

  .text {
    font-size: 42px;
  }

  .sunGlasses {
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
  }
}

@media screen and (max-width: 980px) {
  .secondaryMenu {
    li a {
      padding: 16px 20px;
    }

    .icon {
      width: 32px;
      height: 32px;
    }

    .text {
      font-size: 28px;
    }
  }
}

@media screen and (max-width: 767px) {
  .secondaryMenu {
    li a {
      padding: 8px 10px;
    }

    .icon {
      width: 15px;
      height: 15px;
    }

    .text {
      font-size: 14px;
    }
  }
}

.optionalBanner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 88px;

  .galsses {
    width: 50%;
    margin-right: 24px;
    background-image: url("../images/2.png");
    height: 390px;
  }

  .people {
    width: 50%;
    background-image: url("../images/11.png");
  }
}

@media screen and (max-width: 980px) {
  .optionalBanner {
    margin-bottom: 40px;

    .galsses {
      background-image: url("../images/phone-sm.png");
      margin-right: 0;
      height: 309px;
    }

    .people {
      background-image: url("../images/11-sm.png");
      height: 309px;
    }
  }
}

@media screen and (max-width: 767px) {
  .optionalBanner {
    margin-bottom: 24px;
    .galsses,
    .people {
      height: 144px;
    }
  }
}

.opticalContent {
  margin-bottom: 156px;

  .text {
    text-align: center;
    margin-bottom: 48px;

    h4 {
      font-size: 42px;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 32px;
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 980px) {
  .opticalContent {
    margin-bottom: 104px;

    .text {
      margin-bottom: 32px;

      h4 {
        font-size: 32px;
      }

      h3 {
        font-size: 24px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .opticalContent {
    margin-bottom: 56px;

    .text {
      margin-bottom: 20px;

      h4 {
        font-size: 20px;
      }

      h3 {
        font-size: 16px;
      }
    }
  }
}

.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  li {
    width: calc(100% / 4 - 24px);
    margin-bottom: 104px;
  }

  .info {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 2px;
  }

  .price {
    color: #AA0601;
  }

  .color {
    display: flex;
  }

  .brown {
    width: 24px;
    height: 24px;
    border-radius: 4px;
  }

  .darkenBrown {
    background-color: #5F3E2D;
    margin-right: 8px;
  }

  .lightBrown {
    background-color: #B75929;
  }
}

@media screen and (max-width: 980px) {
  .products {
    margin-left: 48px;
    margin-right: 48px;

    li {
      width: calc(100% / 2 - 24px);
      margin-bottom: 72px;

      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .products {
    margin-left: 11px;
    margin-right: 11px;

    li {
      width: 100%;
      margin-bottom: 32px;
    }

    .info {
      font-size: 16px;
    }

    .brown {
      width: 17px;
      height: 17px;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  font-size: 19px;
  li {
    border: 1px solid #000;
  }

  a {
    display: block;
    padding: 12px 15px;
    color: #000;

    &:hover,
    &:active {
      background-color: #000;
      color: #fff;
    }
  }
}

@media screen and (max-width: 767px) {
  .pagination {
    font-size: 12px;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;

    a {
      padding: 8px 10px;
    }
  }
}
